---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import {Image} from 'astro:assets';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="intro-container">
				<div class="text-column">
				  <h1>🧑‍🚀 Hello!</h1>
				  <p>
					Welcome! I'm Gustavo, a Mexico-based software developer with 15+ years of experience. I'm passionate about building software that helps people and businesses.
				  </p>
				  <p>
					I love to share my knowledge and experiences with others. I write about Software development, Artificial Intelligence, and other topics that I find interesting.
				  </p>
				</div>
				<div class="image-column">
				  <Image src="https://github.com/tavobarrientos.png" alt="Gustavo" width={500} height={500} style="border-radius: 50%" loading="eager" />
				</div>
			  </div>
		</main>
		<Footer />
	</body>
</html>


<style>
	.intro-container {
	  display: flex;
	  flex-wrap: wrap;
	  gap: 1em;
	  align-items: center;
	}
	.text-column {
	  flex: 1;
	}
	.image-column {
	  flex: 1;
	  display: flex;
	  justify-content: center;
	}
	.image-column img {
	  max-width: 100%;
	  height: auto;
	  border-radius: 50%;
	}
  
	/* Responsive Styles */
	@media (max-width: 720px) {
	  .intro-container {
		flex-direction: column;
	  }
	}
  
	@media (min-width: 721px) {
	  .intro-container {
		flex-direction: row;
	  }
	}
  </style>